# Environment variables & Secrets
.env
*.env
*.pem
*.key
secrets/
secret-*.yaml
!secret-*.template.yaml

# Local Actions Runner
actions-runner/
_work/

# Logs & Temp files
*.log
tmp/
.DS_Store
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
